<div class="row">
    <div class="col-md-3">
        <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-plus-square"></i> Incluir</button>
    </div>
    <div class="col-md-3 offset-md-6">
        <select class="custom-select" id="situacao">
            <option selected>Choose...</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
    <table class="pt-2 table table-bordered table-responsive">
        <thead>
            <tr>
                <th scope="col">E-mail</th>
                <th scope="col">Nome</th>
                <th scope="col">Perfil</th>
                <th scope="col">Habilitado</th>
                <th scope="col">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>